<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fortis.inspection.dao.InspectionDao">

    <select id="getChannel" resultType="SysChannelEntity">
        select
            channel_id as channelId,
            channel_name as channelName,
            email as email,
            phone as phone,
            enterprise as enterprise,
            credit_code as creditCode,
            access_key_id as accessKeyId,
            access_key_secret as accessKeySecret,
            access_status as accessStatus,
            creator as creator,
            create_time as createTime,
            modifier as modifier,
            modify_time as modifyTime
        from sys_channel
        where channel_id = #{sysId}

    </select>


</mapper>